apiVersion: apps/v1
kind: Deployment
metadata:
  name: ip-address-controller
  namespace: kube-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ip-address-controller
  template:
    metadata:
      labels:
        app: ip-address-controller
    spec:
      serviceAccountName: ip-address-controller-sa
      priorityClassName: system-node-critical
      containers:
        - name: ip-address-controller
          image: darkbrains/ip-address-controller:v1.0.1
          ports:
            - name: health
              containerPort: 8080
            - name: metrics
              containerPort: 9999
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 1
              memory: 1Gi
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15
            failureThreshold: 3
            timeoutSeconds: 2
